.tech-expertise {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0% 5%;
  }
  #expertise {
    padding-top: 20px;
  }
  .content, .sphere {
    padding-left: 10px;
  }
  
  .content {
    padding-right: 10px;
    width: 65%;
    margin-right: 5px;
    line-height: 1.7; /* Improves readability */
    letter-spacing: 1.7px;
    font-size: large;
    text-align: justify;
  }
  
  .sphere {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    padding: 10px 15px;
  }
  
  @media screen and (max-width: 1300px) {
    .tech-expertise {
      flex-direction: column; /* Stack vertically */
      padding: 0%;
    }
  
    .content, .sphere {
      width: 100%;
      text-align: center;
      font-size: medium;
    }
    p {
        text-align: justify;
    }
  }