<div class="expertise">
    <div class="title-font title-flex custom-top-bottom-shadow" id="expertise">
        <h1> > What <span class="text-light-beige"> I Bring</span> to the Table <i
                class="link fa-solid fa-street-view"></i>
        </h1>
    </div>
    <div class="tech-expertise">
        <div class="content font-sec">
            <p><i class="link fa-solid fa-feather-pointed"></i> Need a <span class="text-light-beige">Full-Stack</span>
                app or a sleek <span class="text-light-beige">website</span>?
                Done. I build scalable, clean solutions - no messy code, just efficient development.
                <br>- Backend? I’ve got <span class="text-light-beige">Java</span>, <span
                    class="text-light-beige">Spring</span>, <span class="text-light-beige">SQL,</span> <span
                    class="text-light-beige"> APIs</span> - Covered.
                <br>- Frontend? <span class="text-light-beige">Angular</span> & <span
                    class="text-light-beige">ReactJS</span> keep things sharp and smooth.
                <br>- <span class="text-light-beige">Git</span>? Of course, bcoz broken code in prod isn’t my style.
            </p>
            <p><i class="link fa-solid fa-arrow-trend-up"></i> I don’t just code; I engineer solutions. <span
                    class="text-light-beige">LLD</span>, <span class="text-light-beige">HLD</span>? Implemented. My
                <span class="text-light-beige">DSA</span> skills keep things
                lightning-fast bcoz waiting forever for a page to load is outdated. </p>
            <p><i class="link fa-solid fa-terminal"></i> <span class="text-light-beige"> Scalability</span>? Check.
                <span class="text-light-beige">Performance</span>? Check. I <span class="text-light-beige">architect</span> systems that just work - no drama, just
                efficiency.

            <div class="expertise-buttons">
                <a target="_blank" [href]="this.linkedin | async">
                    <button class="custom-bottom" type="button">
                        <i class="fa-brands fa-linkedin-in"></i> 
                        <span> LinkedIn</span>
                    </button>
                </a>
                <a style="margin-left: 20px;" target="_blank" [href]="this.github | async">
                    <button class="custom-bottom-sec" type="button">
                        <i class="fa-brands fa-github"></i> 
                        <span> Github</span>
                    </button>
                </a>
                <a style="margin-left: 20px;" target="_blank" [href]="this.leetcode | async">
                    <button class="custom-bottom" type="button">
                        <i class="fa-solid fa-code"></i> 
                        <span> LeetCode</span>
                    </button>
                </a>
                <a style="margin-left: 20px;" target="_blank" [href]="this.codeforces | async">
                    <button class="custom-bottom-sec" type="button">
                        <i class="fa-solid fa-chart-simple"></i> 
                        <span> CodeForces</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="sphere">
            <app-rotating-sphere></app-rotating-sphere>
        </div>
    </div>