.terminal-prompt {
  color: var(--terminal-user);
  margin-left: 1.4em;
}

.terminal-username {
  font-family: "Courier New", monospace;
}

.terminal-output {
  margin-left: 1.6em;
  font-family: "Courier New", monospace;
}

@media screen and (max-width: 700px) {
  .terminal-output {
    margin-left: 1.9em;
  }
}

.light-blue {
  color: #66d9ef;
}

.blue {
  color: #033dfc;
}

.green {
  color: #03fc98;
}

.red {
  color: red;
}

.grey {
  color: #f8f8f2;
}