<div class="project">
    <div class="title-font title-flex custom-top-bottom-shadow" id="projects">
        <h1> > Notable <span class="text-light-beige">Projects </span><i class="link fa-solid fa-yin-yang"></i>
        </h1>
    </div>
    <div class="projects">
        <ng-container *ngIf="projects | async as projects; else projectsLoading">
            <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
        </ng-container>
        <ng-template #projectsLoading>
            <div class="font-sec">Loading projects...</div>
        </ng-template>
    </div>