<div class="introduction-screen">
    <div style="display:block; text-align:center;" class="col-xs-12">
        <!-- <img class="intro-avatar" src="../../../assets/img/intro-avatar.jpg" alt="{Mudar Hussain}"> -->
        <i class="fa-solid fa-code intro-avatar"></i>
    </div>
    <!-- <div class="loader">
        <span>{{'{'}}</span><span>{{'}'}}</span>
    </div> -->
    <div style="text-align:center;" class="col-xs-12">
        Dream <span class="text-light-beige">|</span> Build <span class="text-light-beige">|</span> Deploy
    </div>
</div>