<div class="experience-card">
  <div class="logo-section">
    <img [src]="logo" alt="{{ organisation }}"  loading="lazy" decoding="async">
    <h3 class="title-font"><a [href]="link" target="_blank"><span class="text-light-beige">{{ organisation }}</span></a></h3>
  </div>
  <div class="details-section">
    <div class="positions">
      <div *ngFor="let position of positions">
        <div class="position-title">
          <i class="fa-solid fa-circle"></i>
          <h5 style="font-weight: normal;">{{ position.title }}</h5>
        </div>
        <div class="position-details">
          <p><i class="link fa-solid fa-calendar-days"></i>  {{ position.duration }}</p>
          <p><i class="link fa-solid fa-location-dot"></i> {{position.location }}</p>
        </div>
        <ul>
          <li class="font-sec" *ngFor="let content of position.content" style="color: #f1f1f1; text-align: justify;">{{ content.text }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>