<div class="experience-card">
  <div class="logo-section">
    <img [src]="logo" alt="{{ organisation }}">
    <h3 class="title-font"><a [href]="link" target="_blank"><span class="text-light-beige">{{ organisation }}</span></a></h3>
  </div>
  <div class="details-section">
    <div class="positions">
      <div *ngFor="let position of positions">
        <div class="position-title">
          <i class="fa-solid fa-circle"></i>
          <h5>{{ position.title }}</h5>
        </div>
        <p>{{ position.duration }}</p>
        <ul>
          <li *ngFor="let content of position.content" style="color: #f1f1f1;">{{ content.text }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>