<div id="home" class="hero-section ml-1">
    <div class="info-section">
        <h1>Hey! I'm <span class="text-light-beige">Mudar Hussain</span></h1>
        <br />
        <h4>
            <i class="dot orange-dot fa-solid fa-circle"></i>
            <span class="text-light-beige">F</span>ull-<span class="text-light-beige">S</span>tack
            <i class="dot yellow-dot fa-solid fa-circle"></i>
            <span class="text-light-beige">S</span>ystem
            <span class="text-light-beige">A</span>rchitect
            <i class="dot green-dot fa-solid fa-circle"></i>
            <span class="text-light-beige">T</span>ech
            <span class="text-light-beige">E</span>nthusiast
        </h4>
        <br />
        <i class="fa-solid fa-terminal"></i>
        <h5>
            Whether it's designing a scalable systems, optimizing code, or crushing a
            <span class="text-light-beige">LeetCode</span> problem, I love what I do!
        </h5>
        <br />
        <i class="fa-solid fa-terminal"></i>
        <h5>
            I specialize in <span class="text-light-beige">Angular</span>,
            <span class="text-light-beige">Java</span>, and backend development and
            have a passion for system design.
        </h5>
        <br />
        <i class="fa-solid fa-terminal"></i>
        <h5>
            When I'm not <span class="text-light-beige">coding</span>, you'll probably
            find me exploring new tech trends or competing in coding
            <span class="text-light-beige">contests</span>.
        </h5>
    </div>
    <div class="avatar-section">
        <div id="avatar">
            <img src="../../../assets/avatar.jpg" alt="" />
        </div>
    </div>
</div>