<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-rich-black custom-bottom-shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">
      <span class="text-light-beige">M</span>udar <span class="text-light-beige">H</span>ussain
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <app-menu-icon></app-menu-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#terminal">Terminal</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#expertise">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [href]="this.isWindow ? '#skillExp' : '#skill'">Skills</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [href]="this.isWindow ? '#skillExp' : '#skill'">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item nav-icons" style="margin-right: 1rem;">
          <a class="nav-link" target="_blank" [href]="this.blogs" title="Blogs">
            <i class="fa-solid fa-blog" style="font-size: 1.3em; vertical-align: middle;"></i>
          </a>
          <a class="nav-link" target="_blank" [href]="this.github" title="Github">
            <i class="fa-brands fa-github" style="font-size: 1.3em; vertical-align: middle;"></i>
          </a>
          <a class="nav-link" target="_blank" [href]="this.linkedIn" title="LinkedIn">
            <i class="fa-brands fa-linkedin-in" style="font-size: 1.3em; vertical-align: middle;"></i>
          </a>
          <a class="nav-link" target="_blank" [href]="this.resume" title="Resume" style="padding: 0px;">
            <img src="../../../assets/img/cv.png" style="height: 2.1em; width: 2.1em; vertical-align: middle;"
              alt="{Mudar Hussain}">
          </a>
        </li>
        <li class="nav-item">
            <a href="#contact">
          <button class="custom-bottom" type="button">
            Contact
          </button>
          </a>

        </li>

      </ul>
    </div>
  </div>
</nav>