.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-family: "Caveat", serif;
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 0.025em;
  font-weight: 600;
  padding: 0.25rem;
}

.nav-link {
  font-family: "Roboto", serif;
  font-size: 1rem;
  color: #ffffff;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.navbar-toggler {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.navbar-nav {
  text-align: right;
}

.nav-icons {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

body {
  width: 100%;
  padding: 1.5rem 1rem;
  position: fixed;
  left: 0;
  z-index: 9999;
  padding-top: 60px;
}

/* Responsive Adjustments */
@media (max-width: 1130px) {
  .navbar {
    position: relative;
  }
}