<div [ngClass]="isWindow ? 'container-window' : 'container-mobile'" appRestrictUserActions>
    <app-navbar></app-navbar>
    <app-loading-screen></app-loading-screen>
    <app-hero-section></app-hero-section>
    <br/>
    <br/>
    <app-terminal></app-terminal>
    <br/>
    <br/>
    <app-technical-expertise></app-technical-expertise>
    <br/>
    <br/>
    <app-skill-experience></app-skill-experience>
    <br/>
    <br/>
    <app-project></app-project>
    <br/>
    <br/>
    <app-contact></app-contact>
    <br/>
    <app-footer></app-footer>
</div>
<router-outlet></router-outlet>