.nav-inside-container {
  position: sticky;
  top: 0;
  height: 2.5em;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1em;
}

.dots-inside-container {
  display: flex;
  align-items: center;
  align-items: "center";
  flex-wrap: "wrap";
}

.text-inside-container {
  font-family: "Courier Prime", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  font-size: "0.9em";
  color: black;
}

.dot {
  content: '""';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 8px;
}

.orange-dot {
  background-color: var(--terminal-orange-dot);
}

.yellow-dot {
  background-color: var(--terminal-yellow-dot);
}

.green-dot {
  background-color: var(--terminal-green-dot);
}

@media screen and (max-width: 700px) {
  .text-inside-container {
    font-size: 1em;
  }

  .dot {
    width: 0.7em;
    height: 0.7em;
    margin-right: 5px;
  }

  .nav-inside-container {
    padding: 0 0.5em;
    height: 1.8em;
  }
}
