.skill-card {
    padding-left: 16px;
  }
  .skill-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    margin: 16px;
  }

  
  .skill-title {
    display: flex;
    align-items: center;

  }
  .skill-title i  {
    position: relative;
    left: -34px; 
    transform: translateY(-20%);
    background-color: var(--background-color); 
    color: var(--light-beige);
    font-size: smaller;
  }

  @media screen and (max-width: 1130px) {
    .skill-items {
      width: 100%;
      margin: 0px;
    }
  }
  